<p>Hi,</p>
<p>You have requested a password {{REQUEST_TYPE}} for your account.</p>
{% if PASSWORD_RECOVERY_TOKEN_TYPE == 'link' %}

    {% if REQUEST_TYPE == 'change' %}
        <p>Please follow this <a href="{{ FRONT_URL }}/change-password-confirm/{{ recovery_token }}">link</a> to {{REQUEST_TYPE}} your password.</p>
    {% else %}
        <p>Please follow this <a href="{{ FRONT_URL }}/password-recovery-confirm/{{ recovery_token }}/{{EMAIL}}">link</a> to {{REQUEST_TYPE}} your password.</p>
    {% endif %}
    
{% else %}

    <p>Put this code {{ recovery_token }} in the form to {{REQUEST_TYPE}} your password.</p>

{% endif %}

    <p>If you did not request a password {{REQUEST_TYPE}}, please ignore this email.</p>
<p>Thank you,</p>
<p>{{ APP_NAME }} Team</p>
